name: Reply to internal issue comment
run-name: Reply to internal issue comment by ${{ github.actor }}
on:
  issue_comment:
    types:
      - created

jobs:
  maybe-add-comment:
    uses: testorgnamesome/.github/.github/workflows/issue-comment.yml@main
    permissions:
      issues: write

